<h2>Log in</h2>

<form (submit)="login()" novalidate #f="ngForm">
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"  [(ngModel)]="gebruiker.username" required>
  </div>
  <div>
    <label for="wachtwoord">Wachtwoord:</label>
    <input type="password" id="wachtwoord" name="wachtwoord" [(ngModel)]="gebruiker.wachtwoord" required>
  </div>
  <div>
    <button type="submit" [disabled]="f.invalid" >
      Login </button>
    <a routerLink="/registratie" class="btn btn-link">Registratie</a>
  </div>
</form>
<!--<p>{{message$ | async}}</p>-->
