<app-navbar></app-navbar>

<br>
<h2>Mijn Aanbod</h2>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Titel</th>
    <th>Verkoper</th>
    <th>Bekijken</th>
  </tr>
  </thead>
  <tbody>
  <!--  <tr>-->
  <tr *ngFor="let item of artikelen">
    <td>
      <label>{{item.id}}</label>
    </td>
    <td>
      <label>{{item.titel}}</label>
    </td>
    <td>
      <label>{{item.verkoper.username}}</label>
    </td>
    <td>
      <a routerLink="/artikelen/{{item.id}}" class="btn btn-link">Bekijken</a>
    </td>
  </tr>
  </tbody>
</table>

<!--<button routerLink="/artikelen">Ga terug</button>-->
