<h2>Register</h2>
<form (ngSubmit)="registreren()"  [formGroup]="registerForm">
  <div>
    <label for="username">Username </label>
    <input type="text" id="username" name="username" formControlName="username" class="form-control">
  </div>
  <div>
    <label for="emailadres">E-mailadres </label>
    <input type="text" id="emailadres" name="emailadres" formControlName="emailadres" class="form-control">
  </div>
  <div>
    <label for="adres">Adres </label>
    <input type="text" id="adres" name="adres" formControlName="adres" class="form-control">
    </div>
<div>
    <button type="submit" [disabled]="!registerForm.valid" >
     Registreren
    </button>
    <a routerLink="/login" class="btn btn-link">Cancel</a>

  </div>
</form>
