<h2>Details of gebruiker </h2>

<!--<div class="flex">-->
<!--  <form (ngSubmit)="save()" [formGroup]="gebruikerForm">-->
<!--    <div>-->
<!--      <label for="inputUsernameR">First name:</label>-->
<!--      <input type="text" formControlName="username" name="username" id="inputUsernameR" class="form-control">-->
<!--    </div>-->

<!--    <div>-->
<!--      <label for="inputEmailR">Surname:</label>-->
<!--      <input type="text" formControlName="email" name="email" id="inputEmailR" class="form-control">-->
<!--    </div>-->

<!--    <div>-->
<!--      <label for="inputAdresR">E-mail address:</label>-->
<!--      <input type="text" formControlName="adres" name="adres" id="inputAdresR" class="form-control" required>-->
<!--      <button class="btn btn-primary">Save</button>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->
